<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>300110161028-jl0fg2ns947p6n2f1t3oud9uheg9e2j5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300110161028-jl0fg2ns947p6n2f1t3oud9uheg9e2j5</string>
	<key>API_KEY</key>
	<string>AIzaSyDxV91_B-NbIS4Gyla2GqpL2Oa3dVCyAGE</string>
	<key>GCM_SENDER_ID</key>
	<string>300110161028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Basila.FirebaseScoialLogin</string>
	<key>PROJECT_ID</key>
	<string>justfriends-574c5</string>
	<key>STORAGE_BUCKET</key>
	<string>justfriends-574c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:300110161028:ios:e30f4b50fd636ccc</string>
	<key>DATABASE_URL</key>
	<string>https://justfriends-574c5.firebaseio.com</string>
</dict>
</plist>